
<%- include('header.ejs'); -%> 

<br/>
<br/>

<div class="container"> <!-- container -->


<form action="/" method="post" class="ui for">

    <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <button type="submit" class="ui blue labeled submit icon button"> 
        <i class="icon edit"></i> Envoyer
    </button>
</form>

<br/>
<br/>


<div class="ui comments">
    <h3 class="ui dividing header">Commentaires</h3>

    <% for (message of messages) { %>
        <div class="comment" style="display:flex; padding-left:50px;">
            <div class="ms-avatar">
                <a href="/message/<%= message.content %>">
                    <img class="ms-avatar-img" src="https://randomuser.me/api/portraits/men/1.jpg" alt="..."/>
                </a>
            </div>
            <div class="content" style="padding-left:30px;">
                <div class="metadata">
                    <div class="date">
                        <%= message.created_at.fromNow() %>
                    </div>
                </div>
                <div class="text">
                    <%= message.content %>
                </div>
            </div>
        </div>
    <% } %>

</div>

<br/>
<br/>

</div> <!-- end container -->
<%- include ('footer.ejs') %>


